
build
.DS_Store
phpunit.local.xml
*.log
.php_cs.cache
api.stub.php
tests/JamesAusten/Dev/*.stub.php
tests/JamesAusten/Dev/Stubs/*
!tests/JamesAusten/Dev/Stubs/.gitkeep

# IDE
.idea
.project
.settings
.buildpath
atlassian-ide-plugin.xml
*.bak

# Composer
vendor
composer.lock
composer.phar

# Project
var
tools

# Groc
node_modules
